<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>I_000_Produccion_Por_Planta_Mes_Servlet_XLS</servlet-name>
        <servlet-class>ArchivosXLS.I_000_Produccion_Por_Planta_Mes_XLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_000_Produccion_Por_Planta_Commodity_XLS</servlet-name>
        <servlet-class>ArchivosXLS.I_000_Produccion_Por_Planta_Commodity_XLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_001_Kilos_Producidos_Hora_Hombre_Servlet</servlet-name>
        <servlet-class>Controladores.I_001_Kilos_Producidos_Hora_Hombre_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_002_Kg_Producidos_Kwh_Servlet</servlet-name>
        <servlet-class>Controladores.I_002_Kg_Producidos_Kwh_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_004_CostoMo_KgProducido_Servlet</servlet-name>
        <servlet-class>Controladores.I_004_CostoMo_KgProducido_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_005_CostoKWH_KgProducido_Servlet</servlet-name>
        <servlet-class>Controladores.I_005_CostoKWH_KgProducido_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_003_KgProducidos_MRS_Servlet</servlet-name>
        <servlet-class>Controladores.I_003_KgProducidos_MRS_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_001_Produccion_Por_Planta_Servlet</servlet-name>
        <servlet-class>Controladores.C_001_Produccion_Por_Planta_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_006_CostoMRS_KgProducido_Servlet</servlet-name>
        <servlet-class>Controladores.I_006_CostoMRS_KgProducido_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_001_Produccion_Por_Planta_XLS</servlet-name>
        <servlet-class>ArchivosXLS.C_001_Produccion_Por_Planta_XLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_001_Produccion_Por_Planta_Servlet2</servlet-name>
        <servlet-class>Controladores.C_001_Produccion_Por_Planta_Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_001_Indicadores_Produccion_Servlet</servlet-name>
        <servlet-class>Controladores.I_001_Indicadores_Produccion_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_002_Indicadores_RRHH_Servlet</servlet-name>
        <servlet-class>Controladores.I_002_Indicadores_RRHH_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_001_Indicadores_Produccion_XLS</servlet-name>
        <servlet-class>ArchivosXLS.I_001_Indicadores_Produccion_XLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_002_Indicadores_RRHH_XLS</servlet-name>
        <servlet-class>ArchivosXLS.I_002_Indicadores_RRHH_XLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_003_Indicadores_Inventarios_Servlet</servlet-name>
        <servlet-class>Controladores.C_003_Indicadores_Inventarios_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_003_Indicadores_Inventarios_Servlet</servlet-name>
        <servlet-class>Controladores.I_003_Indicadores_Inventarios_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_003_Indicadores_Inventarios_Planta_Servlet</servlet-name>
        <servlet-class>Controladores.I_003_Indicadores_Inventarios_Planta_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_003_Indicadores_Inventarios_XLS</servlet-name>
        <servlet-class>ArchivosXLS.C_003_Indicadores_Inventarios_XLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_004_Indicadores_Financieros_Servlet</servlet-name>
        <servlet-class>Controladores.I_004_Indicadores_Financieros_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_004_Indicadores_Financieros_Servlet</servlet-name>
        <servlet-class>Controladores.C_004_Indicadores_Financieros_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_005_Indicadores_Calidad_Servlet</servlet-name>
        <servlet-class>Controladores.C_005_Indicadores_Calidad_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I_005_Indicadores_Calidad_Servlet</servlet-name>
        <servlet-class>Controladores.I_005_Indicadores_Calidad_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>I_000_Produccion_Por_Planta_Mes_Servlet_XLS</servlet-name>
        <url-pattern>/I_000_Produccion_Por_Planta_Mes_Servlet_XLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_000_Produccion_Por_Planta_Commodity_XLS</servlet-name>
        <url-pattern>/I_000_Produccion_Por_Planta_Commodity_XLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_001_Kilos_Producidos_Hora_Hombre_Servlet</servlet-name>
        <url-pattern>/I_001_Kilos_Producidos_Hora_Hombre_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_002_Kg_Producidos_Kwh_Servlet</servlet-name>
        <url-pattern>/I_002_Kg_Producidos_Kwh_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_004_CostoMo_KgProducido_Servlet</servlet-name>
        <url-pattern>/I_004_CostoMo_KgProducido_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_005_CostoKWH_KgProducido_Servlet</servlet-name>
        <url-pattern>/I_005_CostoKWH_KgProducido_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_003_KgProducidos_MRS_Servlet</servlet-name>
        <url-pattern>/I_003_KgProducidos_MRS_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_001_Produccion_Por_Planta_Servlet</servlet-name>
        <url-pattern>/C_001_Produccion_Por_Planta_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_006_CostoMRS_KgProducido_Servlet</servlet-name>
        <url-pattern>/I_006_CostoMRS_KgProducido_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_001_Produccion_Por_Planta_XLS</servlet-name>
        <url-pattern>/C_001_Produccion_Por_Planta_XLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_001_Produccion_Por_Planta_Servlet2</servlet-name>
        <url-pattern>/C_001_Produccion_Por_Planta_Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_001_Indicadores_Produccion_Servlet</servlet-name>
        <url-pattern>/I_001_Indicadores_Produccion_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_002_Indicadores_RRHH_Servlet</servlet-name>
        <url-pattern>/I_002_Indicadores_RRHH_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_001_Indicadores_Produccion_XLS</servlet-name>
        <url-pattern>/I_001_Indicadores_Produccion_XLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_002_Indicadores_RRHH_XLS</servlet-name>
        <url-pattern>/I_002_Indicadores_RRHH_XLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_003_Indicadores_Inventarios_Servlet</servlet-name>
        <url-pattern>/C_003_Indicadores_Inventarios_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_003_Indicadores_Inventarios_Servlet</servlet-name>
        <url-pattern>/I_003_Indicadores_Inventarios_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_003_Indicadores_Inventarios_Planta_Servlet</servlet-name>
        <url-pattern>/I_003_Indicadores_Inventarios_Planta_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_003_Indicadores_Inventarios_XLS</servlet-name>
        <url-pattern>/C_003_Indicadores_Inventarios_XLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_004_Indicadores_Financieros_Servlet</servlet-name>
        <url-pattern>/I_004_Indicadores_Financieros_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_004_Indicadores_Financieros_Servlet</servlet-name>
        <url-pattern>/C_004_Indicadores_Financieros_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_005_Indicadores_Calidad_Servlet</servlet-name>
        <url-pattern>/C_005_Indicadores_Calidad_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>I_005_Indicadores_Calidad_Servlet</servlet-name>
        <url-pattern>/I_005_Indicadores_Calidad_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Pagina inicial del proyecto -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
