/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/03/2016, 04:58:24 PM
    Author     : rcruz
*/

body {
	margin: 0;
	padding: 0;
	background: #fff;
}

#pushobj {
	position: absolute;
	top: 0px;
	left: 200px;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}