/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/03/2016, 03:51:48 PM
    Author     : rcruz
*/

.html{
    height: 100%;
}
.body{
    height: 100%;
    width: 100%
}
.divprincipal {
    background-color:#ffffff;
    height:95%;
    width:65%;
    float: right;
    border: 5px solid black;
}

.divimagen {
    background-color:#ffffff;
    height:80%;
    width:90%;
    float:right;

}
.MenuDesplegable {
    background-color:#ffffff;
    height:100%;
    width:25%;
    float:left;       
}

.DivWithScroll{
    height:85%;
    width:100%;
    overflow-y:scroll;
    overflow-x: scroll;
    white-space: nowrap;
}

.divimagenscroll {
    background-color:#ffffff;
    height:700px;
    width:700px;
}