/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/03/2016, 03:51:48 PM
    Author     : rcruz
*/

.html{
    height: 100%;
}
.body{
    height: 100%;
    width: 100%
}
.divprincipal {
    background-color:#ffffff;
    height:95%;
    width:65%;
    float: right;
    border: 5px solid black;
}

.formulario
{
    padding: 5px;
    width: 100%;
    height: 15%;
    
}

.divimagen {
    background-color:#ffffff;
    height:80%;
    width:90%;
    float:right;

}

.divimagenP {
   // background-color:#ffffff;
    //height:30%;
    //width:30%;
    //float:right;
   background-color:#ffffff;
    height:80%;
    width:90%;
    float:right;
}


.MenuDesplegable {
    background-color:#ffffff;
    height:100%;
    width:25%;
    float:left;       
}

.DivWithScroll{
    height:85%;
    width:100%;
    overflow-y:auto;
    overflow-x: auto;
    white-space: nowrap;
}

.divimagenscroll {
    background-color:#ffffff;
    height:700px;
    width:700px;

}

.texto
{
    width: 15%;
    background-color : white;
    text-align: center;
    float: left;
}

.texto2{
    width: 15.5%;
    background-color : white;
    text-align: center;
}

.boton
{
    width: 15%;    
}
//----------------------------------ESTILO DE LA TABLAS DE GOOGLE CHARTS---------------------------

.bold-green-font {
    font-weight: bold;
    color: green;
  }

  .bold-font {
    font-weight: bold;
  }

  .right-text {
    text-align: right;
  }

  .large-font {
    font-size: 15px;
  }

  .italic-darkblue-font {
    font-style: italic;
    color: darkblue;
  }

  .italic-purple-font {
    font-style: italic;
    color: purple;
  }

  .underline-blue-font {
    text-decoration: underline;
    color: blue;
  }

  .gold-border {
    border: 3px solid gold;
  }

  .deeppink-border {
    border: 3px solid deeppink;
  }

  .red-background {
    background-color: red;
  }

  .orchid-background {
    background-color: orchid;
  }

  .beige-background {
    background-color: beige;
  }
  
  .green-background {
    background-color: greenyellow;
  }
  
