/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/03/2016, 03:51:48 PM
    Author     : rcruz
*/

.html{
    height: 98%;
    width: 98%;
    background-image:  url(../Images/wall.jpg);
}
.body{
    height: 100%;
    width: 100%;
}

.divprincipal {    
    //background-color: #ffffff;
    height:90%;
    background-image:  url(../Images/wall.jpg);
    width:99.4%;
    float: right;
    border: 5px solid black;
}

.divprincipal_index {
    background-color: #ffffff;
    height:90%;
    width:99.4%;
    float: right;
    border: 5px solid black;
    //padding-left: 20px;
}

.formulario
{
    padding: 15px;
    width: 95%;
    height: 5%;   
}

.divimagen {
    background-color:transparent;

    height:70%;
    width:90%;
    //float: right;
    padding-right:  80px;
    margin-left: 50px;
}


.DivWithScroll{
    height:98%;
    width:100%;
    overflow-y:auto;
    overflow-x: auto;
    white-space: nowrap;
}

.divimagenscroll {
    background-color:#ffffff;
    height:700px;
    width:700px;

}

.divtablascroll {
    background-color:#ffffff;
    height:90px;
    width:70%;

}

.texto
{
    /*width: 15%;
    background-color : white;
    text-align: center;
    float: left;
    height: 14%;*/
    text-align: left;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #31b7f1;

}

.divtexto
{

    width: 16%;
    border: 1px solid #ccc;
    float:left;
    //margin: 50px auto 10px;
    overflow: hidden;

}

.divboton
{

    width: 4.2%;
    height: 150%;
    //border: 2px solid #0fa1e0;
    //float:left;
    //margin: 50px auto 10px;
    //overflow: hidden;
    //background-color: #0fa1e0;
    float: right; 

}

.DefStyle
{
    font-family:Verdana;
    font-size:12px;
    border-width:1px;
    border-color:Black;
    display:none;
    float: right;
    padding-right: -5%;
    color: white;
    font-weight: bold;
    padding-top: 4%

}

.select{
    //width: 15.8%;

    text-align: left;
    padding: 5px 8px;
    width: 130%;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: #31b7f1;
    border:none;
    outline:none;

}

.divselect {
    width: 16%;
    border: 1px solid #ccc;
    float:left;
    //margin: 50px auto 10px;
    overflow: hidden;
    background: transparent url("http://www.csslab.cl/ejemplos/select/arrowdown.gif") no-repeat 90% center;

}

option {
    background-image:  url(../Images/wall.jpg);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
option:focus{
    background-image:  url(../Images/wall.jpg);
    outline:none;
    border:none;
    box-shadow:none;
}

.boton
{
    text-align: left;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.titulos {
    color: white;
}

.botongrande
{
    width: 15.5%;  
    height: 21%;
    float: left;
    font-size: 12px;

}

.divtabla {
    background-color:#ffffff;
    height:60%;
    width:90%;
    float:right;
}

.pp
{
    padding-top:        0px;
    padding-right:      0px;
    padding-bottom:     0px;
    padding-left:       585px;
    font-size:          13px;
}

.formato_parrafo
{
    padding-top:        0px;
    padding-right:      0px;
    padding-bottom:     0px;
    padding-left:       475px;
    font-size:          13px;

}



/*******************************************ESTILO PARA LAS TABLAS DE GOOGLE UTILIZADAS******************************************/

.bold-green-font {
    font-weight: bold;
    color: green;
}

.bold-font {
    font-weight: bold;
}

.right-text {
    text-align: right;
}

.large-font {
    font-size: 15px;
}

.italic-darkblue-font {
    font-style: italic;
    color: darkblue;
}

.italic-purple-font {
    font-style: italic;
    color: purple;
}

.underline-blue-font {
    text-decoration: underline;
    color: blue;
}

.gold-border {
    border: 3px solid gold;
}

.deeppink-border {
    border: 3px solid deeppink;
}

.red-background {
    background-color: #ff5c33;
    font-weight: bold;

}

.orchid-background {
    background-color: orchid;
}

.beige-background {
    background-color: beige;
}

.green-background {
    background-color: #33cc33;
    font-weight: bold;

}

.black-background {
    background-color: black;
    font-weight: bold;

}

